---
import Counter from '../components/Counter';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Picomatch dependency reproduction</title>
  </head>
  <body>
    <h1>Picomatch dependency reproduction</h1>
    <Counter client:load />
  </body>
</html>
